/* * {
    border: 1px solid black;
} */

html,
body {
    padding: 0;
    margin: 0;
}

.ScoreBoard {
    display: flex;
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
}

.dealer {
    font-size: 16px;
}

label {
    font-size: xx-large;
    height: 60px;
    width: 6%;

}

h3 {
    font-size: xx-large;
    height: 60px;

}

progress {
    height: 50px;
    width: 90%;
    margin: 10px
    ;
}

.score {
    width: 10%;
}


.cardArea {
    width: 95%;
    margin: auto;
    height: 500px;
    

}

.card {
    height: 100px;
    width: 75px;
    margin: 0 px;
}

#deck {
    visibility: visible
}

.playerCards, .playRow, .playArea {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 5px;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

.playRow {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}

.cardUnicode {
    font-size: 100px;
    color: blue;
    background-color: #fff;
    border: none;

}

.infoDiv {
    border: 5px outset slategray;
    background-color: whitesmoke;
    height: 90%;
    width: 200px;
}

#infoBtn {
    width: 98%;
    margin: 1%;
    background-color: blue;
    color: white;
    font-weight: bold ;
}
#infoBtn:hover{
    width: 98%;
    margin: 1%;
    background-color: blue;
    color: white;
    font-weight: bold;
    opacity: 75%;
}

.infoP {
    text-align: center;
}

a {
    font-size: larger;

}

.offcanvasBar {
    background-color: lightgrey;
}

li {
    font-size: 13px;
    margin: 2px;
}

small {
    font-size: 9px;
    margin: 0;
    text-decoration: none;
}