/* * {
    border: 1px solid black;
} */


html,
body {
    padding: 0;
    margin: 0;
}

.ScoreBoard {
    display: flex;
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;


}

label, h4 {
    font-size: xx-large;
    height: 50px;
    width: 10%;
    text-align: center;
    margin: 20px;
}
progress {
    height: 50px;
    width: 85%;
    margin: 10px
    ;
}

.score {
    width: 10%;
}


.cardArea {
    width: 95%;
    margin: auto;
    height: 500px;
    

}

.card {
    height: 100px;
    width: 75px;
    margin: 0 px;
}

#deck {
    visibility: visible
}

.playerCards, .playRow, .playArea {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    height: 150px;

}

.playRow {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}

.cardUnicode {
    font-size: 100px;
    color: blue;
    background-color: #fff;
    border: none;

}

